<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>URL Shortener</title>
</head>
<style>
   * {
      border-radius: 10px;
      box-shadow: #0077cc;
    }
    body {
      font-family: 'Inter', sans-serif;
      background: #f9f9f9;
      color: #0b0707;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      color: #0077cc;
      margin-bottom: 30px;
      font-weight: 880;
    }
    form {
      background: white;
      padding: 20px 25px;
      width: 100%;
      max-width: 400px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    label {
      font-weight: 600;
      font-size: 1rem;
      color: #555;
    }
    button {
      padding: 12px;
      background-color: #0077cc;
      color: white;
      font-size: 1rem;
      font-weight: 900;
      cursor: pointer;
    }
    button:hover {
      background-color: #005fa3;
    }
    h2 {
      color: #222;
    }
    ul {
      width: 100%;
      max-width: 600px;
    }
    ul li {
      background: white;
      padding: 12px 15px;
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.08);
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
    }

    ul li a {
      color: #0077cc;
      font-weight: 600;
      text-decoration: none;
      white-space: nowrap;
    }

    ul li a:hover {
      text-decoration: underline;
    }

</style>
<body>
  <h1>Welcome to Short URL 🔗</h1>
<form  method="POST" action="/url">
  <label>
    Enter Your Original URL
  </label>
  <input type="text"
  name="url"
  placeholder="https://example.com"/>
  <button type="submit">Generate</button>
</form>

  <h2>All URLs:</h2>
  <ul>
    <% urls.forEach(url => { %>
      <li>
        <a href="/<%= url.shortId %>"><%= url.shortId %></a> →
        <%= url.redirectURL %>|
        Visited: <%= url.visitHistory.length %> times
      </li>
    <% }) %>
  </ul>
</body>
</html>
